@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  margin: 0px;
  transition: all 0.3s;
  font-family: Ubuntu, Operator Mono !important ;
  color: #ffffff;
  transition: unset !important;
}

/* Default Scroll Hide  */

html {
  scrollbar-color: #11111199 transparent !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #11111199 !important;
}

div {
  scrollbar-color: transparent transparent !important;
  scrollbar-width: thin !important;
}
div:hover {
  scrollbar-color: #11111199 transparent !important;
  scrollbar-width: thin !important;
}

div::-webkit-scrollbar {
  width: 8px !important;
}

div::-webkit-scrollbar-track {
  background: transparent !important;
}

div::-webkit-scrollbar-thumb {
  background: transparent !important;
  border-radius: 10px;
}
div:hover::-webkit-scrollbar-thumb {
  background: #11111199 !important;
}
/* Default Scroll Hide  */

/*! Start css code write from here */

body {
  background: #333;
  color: #ddd;
} 

.active {
  display: inline-block;
  transform: scale(1.1);
  margin:0px 15px !important;
  font-style: ;
}